<%- include('partials/header') %>

<h1 class="title"><%= product.name %></h1>

<ul class="product">
    <li class="product-info"><span class="product-info__title">Description</span><span> <%= product.description %></span></li>
    <li class="product-info"><span class="product-info__title">Poids</span><span> <%= product.weight %> kg</span> </li>
    <li class="product-info"><span class="product-info__title">Prix</span><span> <%= product.price %> €</span> </li>
</ul>

<a href="/#products">Revenir à la liste des produits</a>

<%- include('partials/footer') %>